{% extends "base.html" %}

{% block title %}Описание API{% endblock title %}

{% block body %}
    <div class="highlight">
        <pre>
            <code>
                $.ajax({
                    url: 'http://restful-library.herokuapp.com/api/v1/books',
                    type: 'POST',
                    data: {'title': 'testBook'},
                    dataType: 'json',
                    beforeSend : function(xhr) {
                        var api_key = 'your_api_key';  // Your API key
                        var base64 = btoa(api_key + ":");
                        xhr.setRequestHeader("Authorization", "Basic " + base64);
                    },
                    error : function() {
                        // error handler
                    },
                    success: function(data) {
                        console.log(data);
                    }
                });
            </code>
        </pre>
    </div>
{% endblock body %}
